* {
  --main-bg-color: #e0f2fe;
  --sidebar-bg-color: #0284c7;
  --accent-color: yellow;
  --search-bar: #dbeafe;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

svg {
  width: 20px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
}

#dashboard {
  grid-row: 1 / span 2;
  background-color: var(--sidebar-bg-color);
  color: white;
  border-style: solid;
  border-color: red;
  display: grid;
  grid-template-rows: 20px 1fr 3fr;
  gap: 50px;
}

#main_menu {
  grid-row: 2 / 3;
}

#settings {
  grid-row: span 3;
}

#main_list {
  display: grid;
  gap: 10px 15px;
  grid-template-columns: 1fr 9fr;
}

#main_list a {
  grid-column: 2 / 3;
}

#settings_list {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 10px 15px;
}

#settings_list a {
  grid-column: 2 / 3;
}

#header {
  border-style: solid;
  border-color: red;
  box-shadow: 0px 5px 20px grey;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#dashboard_svg {
  width: 40px;
}

#search_bar {
  display: grid;
  grid-template-columns: 1fr 7fr;
  justify-items: center;
  align-items: center;
}

#search_input {
  border-radius: 15px;
  width: 90%;
  background-color: var(--search-bar);
  border: none;
  height: 30px;
}

#main_profile {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#profile_text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#profile_picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
}

#mini_profile {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  gap: 30px;
}

#profile_picture_mini {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
}

#profile_text_mini {
  display: inline-block;
  vertical-align: middle;
}

#bell_mini {
  display: inline-block;
  vertical-align: middle;
}

#main_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#header_buttons {
  border: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background-color: var(--sidebar-bg-color);
  color: white;
}
